<%- model_class = Business -%>
<div class="page-header">
  <div class="header-color">
  <h3><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h3>
 </div>

</div>
<%= render :partial => 'form' %>

