     <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel"><strong>About this Project</strong></h4>
            </div>
            <div class="modal-body">
                <!-- <h3>Modal Body</h3>< -->

		 <p style='color:#000;'><strong> This project was proposed as a San Francisco State University Computer Science Department Graduate student project, under the supervision of Professor Dragutin Petkovic, Professor M. Murphy(retired in April 2014), and Professor Hui Yang.  It is to design a Web App to collect and integrate user postings for a particular topic from various social media websites, like Yelp, Trip Advisor, Twitter, etc. into a relational database with an integrated schema.</strong></P>
	         <p style='color:#000;'> This web tool is built for this project to allow the administrator of the system to grant authorizations to users, to modify business profiles and to update social media API information. The web tool works with a PostgreSQL database that consists tables (entities) and procedures to convert postings from various sources of different social media websites to a uniformed data source for storage. This application and database are hosted by Amazon Web Services.  The design of the database schema and the cloud service implementation is a collaboration effort with fellow student Bhavana Senapathi. </p>
	         <p style='color:#000;'>Business entity and web site API entered by users are sent to the social media web sites to request posting data.  An executable java application retrieves the business and API entries from the database and sends the requests to each web sites to search postings for each business entities.  The java application is scheduled to run once a day without user interaction. </p>
	    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>

