     <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">What is API and Why do I need API keys?</h4>
            </div>
            <div class="modal-body">
                <!-- <h3>Modal Body</h3>< -->
            
		 <p> API is an application-programming interface with a set of instructionson how to communicate with other software applications, usually web applications.
In order to establish communications, most of the web services providers or software application companies provide a key, an API key, to authenicate and grant access to users.  Each API key, also known as consumer key, or access key, is a unique identifier with specific access permission and privilege.</P>
		<p> For our application to work, administrators/users need to acquire the API keys from the social media web service providers in order to send request for public review data responses.  The responses need to be in json format.</p>
		<p> Some of the examples of social media service provider APIs we applied for and tested on are:<a href="https://dev.twitter.com/discussions/631" style='color:blue;text-decoration:underline;'> twitter</a>, <a href="https://developers.google.com/places/documentation/" style='color:blue;text-decoration:underline;'>Google Place Search</a>, and <a href="https://www.yelp.com/login?return_url=%2Fdevelopers%2Fmanage_api_keys" style='color:blue;text-decoration:underline;'> Yelp</a>. Other social media sites will also work as long as the responses are in json format and the data representation rules are applied correctly.</p>
		<p>To apply for the API keys, please read each site's term of use and agreement, and follow each site's instruction to obtain the API keys.</p>
	    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
