     <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel"><strong>Contact Us</strong></h4>
            </div>
            <div class="modal-body">
                <!-- <h3>Modal Body</h3>< -->
             <div class="col-sm-12" style='padding-left:20px;'>
              <div class="row" style='background-color:#fff;'>
                 <div class="col-sm-3">
			<%= image_tag "petkovic.jpg" %>
                  </div>
                  <div class="col-sm-9">
                       <div class="row"  style='background-color:#fff;'> 
                       		<h22>Professor Dragutin Petkovic
                       </div>
              		<div class="row" style='background-color:#fff;'>
                     		 <h22>Chair of Computer Science Departmentz</h22>
                        </div>
              		<div class="row" style='background-color:#fff;'>
                                <h22>San Francisco State Universit</h22>
                        </div>
              		<div class="row" style='background-color:#fff;'>
                      		<h22>email: petkovic@sfsu.edu</h22>
                        </div>
              	   </div> 
 		</div><br />
              <div class="row" style='background-color:#fff;'>
                 <div class="col-sm-3">
			<%= image_tag "hui_yang.jpg" %>
                  </div>
                  <div class="col-sm-9">
              		<div class="row" style='background-color:#fff;'>
                      		<h22>Professor Hui Yang</h22>
                  	</div>
              		<div class="row" style='background-color:#fff;'>
                      		<h22>Advisor</h22>
              		</div>
              		<div class="row" style='background-color:#fff;'>
                      		<h22>Computer Science Department</h22>
              		</div>
			<div class="row" style='background-color:#fff;'>
				<h22>San Francisco State University</h22>
              		</div>
             		 <div class="row" style='background-color:#fff;'>
                         	 <h22>email: huiyang@sfsu.edu</h22>
	      		</div>
              	  </div>
              </div><br />
              <div class="row" style='background-color:#fff;'>
                 <div class="col-sm-3">
			<%= image_tag "mayyin.jpg" %>
                 </div>
                  <div class="col-sm-9">
                        <div class="row" style='background-color:#fff;'>
                      		<h22>Mayyin O'Neill</h22>
                  	</div>
              		<div class="row" style='background-color:#fff;'>
                       		<h22>student</h22>
              		</div>
              		<div class="row" style='background-color:#fff;'>
                        	<h22>Computer Science Department</h22>
                     	</div>
              		<div class="row" style='background-color:#fff;'>
     				<h22>San Francisco State University</h22>
                     	</div>
              		<div class="row" style='background-color:#fff;'>
                          	<h22>email: oneillm@mail.sfsu.edu</h22>
              		</div>
           	  </div>
          	</div>
             </div>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
