<div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <%= render :partial => 'static_pages/about' %>
    </div>
</div>
