<% title "Edit User" %>
<%- model_class = Login -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Edit User', :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
