<body> 
 <br /><br />
 <% if !login_signed_in? %> 
   <% title "You are not signed in. Please Click 'Admin sign In' Link to sign in" %>
 <% else %>
   <% title "Welcome!" %>
 <% end %>
 <h2><%= yield(:title)%></h2>  

 </body>

