<% title "Welcome to Collection and Integration of Postings on Social Media
                  - Adminstrative Application" %>
<style> h1 {
    font-family: 'Proxima Nova';
    font-style: semi-bold;
    font-weight: 400;
    
<div class="container"> 
<div class="center hero-unit">
	<h1> <%= yield(:title) %></h1>
 </div>           
</div>
