<body> 
 <% if !login_signed_in? %> 
   <% title "You are not signed in. Please Click 'Admin sign In' Link to sign in" %>
 <% else %>
   <% title "Welcome!" %>
 <% end %>
 <h1><%= yield(:title)%></h1>  

 </body>

