
<h1> Welcome to Collection and Integration of Postings on Social Media</h1>

	<h1> Welcome to Collection and Integration of Postings on Social Media</h1>
	<%= link_to "Administrator Sign In", new_login_session_path, :method => :get %>
<% unless login_signed_in? -%>
    <p><%= link_to 'Sign up as New Administrator', new_login_registration_path %></p>
<% else %>  
	<%= link_to "Sign Up New User", new_login_registration_path, :method => :get %>
<% end -%>	
<%= link_to "Sign Out", destroy_login_session_path, :method => :delete %>
