<% if can? :manage, @logins %>
<%- model_class = Socialmediasite -%>
  <h2><%=t '.title', :default => "Edit Media Site - API Info", :class => "page-header" %></h2>
<%= render :partial => 'form' %>
<% end %>
