<% if can? :manage, @logins %>
<%- model_class = Socialmediasite -%>
  <h1><%=t '.title', :default => "Edit Social Media Site", :class => "page-header" %></h1>
<%= render :partial => 'form' %>
<% end %>
