<%- model_class = Socialmediasite -%>
<div class="page-header">
  <h2><%=t '.title', :default => ['Add A New Media Site with API info'], :model => model_class.model_name.human.titleize %></h2>
</div>
<%= render :partial => 'form' %>
