/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */
table, td, th {
     vertical-align: middle;
     border: none;
}
th {
    border-bottom: 1px solid #DDD;
}
.welcome {
    font-size: 0.625em;
    font-weight: normal;
}
.form-group form-group-sm {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom:0px;
}
.pagination {
     color:blue;
     font-style: italic;
     font-weight: normal;
     font-size: 1.2em;
     text-align: left;
     padding-top: 1px;
     padding-bottom: 0px;
     margin-bottom: 0px;
     vertical-align: top;
}
h2 {
   letter-spacing:normal;
   text-align:center;
   font-weight:bold;
   font-size:1.5em;
}
h3 {
   text-align: center;
   padding-top:0px;
   padding-bottom:0px;
   margin-left: 0px;
   margin-right:0px;
   font-size:20px;
   color:red;
   font-weight: bold;
}
h4 {
   horizontal-align: left;
   text-align: left;
}

h5 {
   padding-top: 0px;
   text-align: left;
}
h6 {
    text-align: left;
}
h7, .h7 {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}
 body,
    h1,h2,h3,h4,h5,h6,h7,h8,
    input,
    button,
    select,
    textarea,
    .navbar-search .search-query {
      font-family: Georgia, "Times New Roman", Times, serif;
     
    }

.rememberme {
     vertical-align:top;
}
.deviseinput {
    width: 240px;
    height:auto;
    line-height: 2;
    font-size: 1em;
}
.forgotpwd {
    font-weighted:normal;
    color:blue;
    text-decoration:underline;
}
.col-sm-2 h8,h8, .h8 {
    color: red;
    font-style: italic;
    font-weight: normal;
    text-align:left;
    vertical-align: center;
    padding-left:0px;
}.col-md-2, .col-md-3 {
    color: blue;
}
.stateselect {
    width:100%;
    display: table-cell;
}
::-webkit-input-placeholder {
    font-style: italic;
    font-size: 100%;
    font-weight: normal;
    color: #777;
    text-align: center;
    vertical-align: middle;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 100%;
    color: #777;
    text-align: center;
    vertical-align: middle;
}
::-moz-placeholder { /* Firefox 19+ */
   color: #777;
   font-size: 100%;
   text-align: center;
    vertical-align: middle;
}
:-ms-input-placeholder {
   color: #777;
   font-size: 100%;
   text-align: center;
    vertical-align: middle;
}
input.search-query {
    padding-left:30px;
    vertical-align:top;
}
form.form-search {
    position: relative;
}
form.form-search:before {
    display: block;
    width: 100px;
    height: 16px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.yellow, .yellow a {
    color: #ffff00;
}
.white, .white a {
   color: #fff;
}
.btn-csm, .btn-group-csm > .btn {
    padding-top:15px;
    padding-bottom: 5px;
    font-size:12px;
    line-height: 1.5;
    border-radius:3px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.btn-custom-back {
  background-color: hsl(234, 34%, 73%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cbcee5", endColorstr="#a2a7d1");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cbcee5), to(#a2a7d1));
  background-image: -moz-linear-gradient(top, #cbcee5, #a2a7d1);
  background-image: -ms-linear-gradient(top, #cbcee5, #a2a7d1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbcee5), color-stop(100%, #a2a7d1));
  background-image: -webkit-linear-gradient(top, #cbcee5, #a2a7d1);
  background-image: -o-linear-gradient(top, #cbcee5, #a2a7d1);
  background-image: linear-gradient(#cbcee5, #a2a7d1);
  border-color: #a2a7d1 #a2a7d1 hsl(234, 34%, 70%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
  -webkit-font-smoothing: antialiased;
}
.btn-custom-back:hover {
 background-color: hsl(272, 70%, 80%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebdcf8", endColorstr="#cea8ef");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ebdcf8), to(#cea8ef));
  background-image: -moz-linear-gradient(top, #ebdcf8, #cea8ef);
  background-image: -ms-linear-gradient(top, #ebdcf8, #cea8ef);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebdcf8), color-stop(100%, #cea8ef));
  background-image: -webkit-linear-gradient(top, #ebdcf8, #cea8ef);
  background-image: -o-linear-gradient(top, #ebdcf8, #cea8ef);
  background-image: linear-gradient(#ebdcf8, #cea8ef);
  border-color: #cea8ef #cea8ef hsl(272, 70%, 77%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
  -webkit-font-smoothing: antialiased;
}
.btn-custom-edit {
  background-color: hsl(8, 2%, 14%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#625f5e", endColorstr="#242322");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#625f5e), to(#242322));
  background-image: -moz-linear-gradient(top, #625f5e, #242322);
  background-image: -ms-linear-gradient(top, #625f5e, #242322);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #625f5e), color-stop(100%, #242322));
  background-image: -webkit-linear-gradient(top, #625f5e, #242322);
  background-image: -o-linear-gradient(top, #625f5e, #242322);
  background-image: linear-gradient(#625f5e, #242322);
  border-color: #242322 #242322 hsl(8, 2%, 8%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}
.btn-custom-edit:hover {
  background-color: hsl(224, 25%, 49%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbfcfd", endColorstr="#5d6e9c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfcfd), to(#5d6e9c));
  background-image: -moz-linear-gradient(top, #fbfcfd, #5d6e9c);
  background-image: -ms-linear-gradient(top, #fbfcfd, #5d6e9c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfcfd), color-stop(100%, #5d6e9c));
  background-image: -webkit-linear-gradient(top, #fbfcfd, #5d6e9c);
  background-image: -o-linear-gradient(top, #fbfcfd, #5d6e9c);
  background-image: linear-gradient(#fbfcfd, #5d6e9c);
  border-color: #5d6e9c #5d6e9c hsl(224, 25%, 36.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.82);
  -webkit-font-smoothing: antialiased;
}
.btn-custom-delete {
  background-color: hsl(20, 91%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0510a", endColorstr="#af3f08");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e0510a), to(#af3f08));
  background-image: -moz-linear-gradient(top, #e0510a, #af3f08);
  background-image: -ms-linear-gradient(top, #e0510a, #af3f08);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0510a), color-stop(100%, #af3f08));
  background-image: -webkit-linear-gradient(top, #e0510a, #af3f08);
  background-image: -o-linear-gradient(top, #e0510a, #af3f08);
  background-image: linear-gradient(#e0510a, #af3f08);
  border-color: #af3f08 #af3f08 hsl(20, 91%, 33.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}
.btn-custom-delete:hover {
    background-color: hsl(14, 56%, 59%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7e7e3", endColorstr="#d0775b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f7e7e3), to(#d0775b));
  background-image: -moz-linear-gradient(top, #f7e7e3, #d0775b);
  background-image: -ms-linear-gradient(top, #f7e7e3, #d0775b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7e7e3), color-stop(100%, #d0775b));
  background-image: -webkit-linear-gradient(top, #f7e7e3, #d0775b);
  background-image: -o-linear-gradient(top, #f7e7e3, #d0775b);
  background-image: linear-gradient(#f7e7e3, #d0775b);
  border-color: #d0775b #d0775b hsl(14, 56%, 50.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
}
.btn-add-new {

  background-color: hsl(215, 63%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5088d7", endColorstr="#255ba6");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5088d7), to(#255ba6));
  background-image: -moz-linear-gradient(top, #5088d7, #255ba6);
  background-image: -ms-linear-gradient(top, #5088d7, #255ba6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5088d7), color-stop(100%, #255ba6));
  background-image: -webkit-linear-gradient(top, #5088d7, #255ba6);
  background-image: -o-linear-gradient(top, #5088d7, #255ba6);
  background-image: linear-gradient(#5088d7, #255ba6);
  border-color: #255ba6 #255ba6 hsl(215, 63%, 35.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}

.btn-add-new:hover {
 background-color: hsl(224, 79%, 67%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafbfe", endColorstr="#688bed");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fafbfe), to(#688bed));
  background-image: -moz-linear-gradient(top, #fafbfe, #688bed);
  background-image: -ms-linear-gradient(top, #fafbfe, #688bed);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfe), color-stop(100%, #688bed));
  background-image: -webkit-linear-gradient(top, #fafbfe, #688bed);
  background-image: -o-linear-gradient(top, #fafbfe, #688bed);
  background-image: linear-gradient(#fafbfe, #688bed);
  border-color: #688bed #688bed hsl(224, 79%, 59%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.52);
  -webkit-font-smoothing: antialiased;
}
.nopadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.a, .linkapi {
   color: blue;
   text-decoration: underline;
   text-decoration-color: underline;
}
.csvlink:hover {
   content:"export to csv"
}
   
