// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h22{
   color: #000088;
}
.col-sm-2 {
           height: 20px;
           color: blue;
           text-align: left;
}
.row {
      background-color: lightblue;
      padding-right: 50px;
}
.header-color {
      background-color: #FAFAFA;
}
.status-radiobutton {
        position:relative;
        margin-top:-4px;
        vertical-align:top;
        padding-right: 10px;
}
.business-show {
	background-color: #CCFFCC
} 
