// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h22{
   color: #000088;
}
.col-sm-2, .col-sm-3 {
           height: 20px;
           color: blue;
           text-align: left;
}
.row {
      background-color: lightblue;
}
.header-color {
      background-color: #FAFAFA;
}
.status-radiobutton {
        position:relative;
        margin-top:-4px;
        vertical-align:top;
        padding-right: 10px;
}
.business-show {
	background-color: #fff
}
.pagination {
     color:blue;
     font-style: italic;
     font-weight: normal;
     font-size: 1em;
     text-align: left;
     padding-top: 2px;
     padding-bottom: 0px;
     margin-bottom: -4px;
}
h5 {
   padding-top: 5px;
}
