// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: small;
   font-color: #000;
   background-color: #fff;
   padding-top: 90px;
}
h3 {
   margin-top: 15px;
   text-align: center;
   padding: 5px;
}
h1 {
   text-align: center;
}
#tabs ul li {
   float: left;
   padding: 10px;
   list-style: none;
}

#tabs ul li.selected {
   background-color: #ccffff;
}
.selected {
   background-color: #ccffff;
}
a {
  color: #3104B4;
  text-decoration: underline;
  &:visited {
    color: #3AF7E4;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}
textarea {
    width: 240px;
    height: 120px;
}


