// Place all the styles related to the ssdmappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indexlabel {
  color:#08088A;
}
tt {
  font-size: 16px;   
  color:#08088A;
}

dd {
  font-size: 16px;
  color:#08088A;
}

