<header>
   <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
            <h3><strong>Social Media Reviews Harvesting</strong</h3>
	    <% if login_signed_in? %>
                 <div class="nav pull-right" %>
                    <div class="welcome"> 
                        Welcome <%= [current_login.firstname,current_login.lastname].compact.join(' ') %>
                    </div>
                </div>
            <% end %>
        </div>
      </div>
     <%= tabs %>
     </div>
  </header>
