<header>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <h3><strong>Social Media Reviews Harvester - Metadata Management</strong</h3>
	    <% if login_signed_in? %>
                 <div class="nav pull-right" %>
                    <div class="welcome"> 
                        Welcome <%= [current_login.firstname,current_login.lastname].compact.join(' ') %>
                    </div><!-- welcome -->
                </div><!-- nav pull-right -->
            <% end %><!-- if signed in -->
        </div><!-- container -->
      </div><!-- navbar-inner -->
     <%= tabs %>
     </div><!-- navbar-inverse -->
  </header>
